<section class='m_widget tagcloud'>
    <div class='header'>网站统计</div>
    <div class='content'>
        <script type="text/javascript" src="https://tajs.qq.com/stats?sId=27066461" charset="UTF-8"></script>
    </div>
</section>