<section class='m_widget tagcloud'>
    <div class='header'>网站统计</div>
    <div class='content'>
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?60c51bbcb981fe1e03cc0ec15b913637";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </div>
</section>